<div class="row">
  <div class="column column-20">
    <img src="full-pool-eaten.png"/>
  </div>
  <div class="column column-80">
    <h1>Plastic Fishes</h1>
    <p>
      <a class="button button-outline" href="/fishes/random">HTML</a>
      &nbsp;
      <a class="button button-outline" href="/fishes/random.png">PNG</a>
      &nbsp;
      <a class="button button-outline" href="/api/fishes">API ALL</a>
      &nbsp;
      <a class="button button-outline" href="/api/fishes/random">API RANDOM</a>
    </p>
  </div>
</div>
